force-app/main/default/flows/Product_Quick_Search.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_loop_item_to_text</name>
        <label>Assign loop item to text</label>
        <locationX>999</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>ResultTextProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_result.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultTextProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Text_Result</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AssemblySystemsOption</name>
        <choiceText>Assembly Systems</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CloudyBotOption</name>
        <choiceText>CloudyBot</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RainbowBotOption</name>
        <choiceText>RainbowBot</choiceText>
        <dataType>String</dataType>
    </choices>
    <interviewLabel>Product Quick Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Quick Search</label>
    <loops>
        <name>Looping_result</name>
        <label>Looping result</label>
        <locationX>812</locationX>
        <locationY>212</locationY>
        <collectionReference>RecordsFiltered</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_loop_item_to_text</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Products_by_Type</name>
        <label>Get Products by Type</label>
        <locationX>587</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Product_Type</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>RecordsFiltered</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Display_Text_Result</name>
        <label>Display Text Result</label>
        <locationX>1173</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayResultsText</name>
            <fieldText>&lt;p&gt;{!ResultTextProducts}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Quick_Search</name>
        <label>Product Quick Search</label>
        <locationX>357</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Products_by_Type</targetReference>
        </connector>
        <fields>
            <name>Product_Type</name>
            <choiceReferences>RainbowBotOption</choiceReferences>
            <choiceReferences>CloudyBotOption</choiceReferences>
            <choiceReferences>AssemblySystemsOption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Product_Quick_Search</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Loop_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RecordsFiltered</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ResultTextProducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
